html{
  scroll-behavior:smooth;

}

body {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Gotu', sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fae123;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  position: relative;
  border-bottom:2px solid  #ad2332;
}
.home__btn{
  width: 100px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;
}


.home{
  width: 100%;
  height: 50px;
  background-color: #fff;
  display:inline-block;
  line-height: 50px;
  color:  #24292E;
}

.home:hover{
  background-color: #ad2332;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.header  ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: 50px;
  padding-top: 10px;
}

.btn{
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  background-color: #fff;
  line-height: 50px;
}

.btn :hover{
  background-color: #ad2332;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.production{
  color:  #24292E;
}

.profile{
  color:  #24292E;
}

.blog{
  background-color: #ad2332;
  color:  #fff;
}

.btn a{
  display: inline-block;
  height: 100%;
  width: 100%;
}
.content{
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: #fae123;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}

.content__title{
  font-size:50px;
  padding: 20px 0 20px 20px;
  margin-left:200px;
  color:#227D51;
}



.content__box{
  width: 950px;
  height: 80%;
  margin: auto;
  border:2px solid #ad2332 ;
  padding: 10px;
  overflow-y: scroll;
}

.content__box__title{
  width: 90%;
  height: 100px;
  background-color: #A28C37;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  margin: auto;
  margin-top:10px ;
}

.content__box__title a{
  display: inline-block;
  width: 100%;
  height: 100px;
  display: flex;
}



.content__box__img{
  text-align: left;
  width: 100px;
}

.content__box__img img{
  max-width:100px; 
  max-height:100px;
}


.date{
  color: #fff;
  margin: 10px;

}

.content__box__content{
  line-height: 100px;
  font-size: 20px;
  margin-left:20px ;
  color: #fff;
}

.more{
  float:right;
  font-size: 30px;
  margin-right: 20px;
  margin-top:5px ;
  font-family: 'Gotu', sans-serif;
}

.more i{
  color:#227D51;
}


@media( max-width:1000px) { 
  .content__title{
    padding: 20px 0 20px 20px;
    margin-left:0px;
    text-align: center;
  }
  .content__box{
    width: 80%;
  }




  .content__box__title{
    width: 90%;
    height: 200px;
    background-color: #A28C37;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    margin: auto;
    margin-top:10px ;
  }
  
  .content__box__title a{
    display: inline-block;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;

  }
  
  .content__box__img{
    text-align: left;
    width: 35%;
  }
  
  .content__box__img img{
    min-width:200px; 
    min-height:200px;
  }
  
  
  .date{
    color: #fff;
    margin: 10px;
    height: 20px;
    position: absolute;
    bottom:0;
    right: 0;
  }
  
  .content__box__content{
    line-height: 100px;
    font-size: 25px;
    margin-left:100px ;
    color: #fff;
    line-height: 50px;
    width: 65%;
  }

}

@media(max-width: 520px) {
  .home{
    color:  gray;
    width: 70px;
  }
  .home__btn {
    font-size: 12px;
  }
  .btn{
    width: 70px;
    font-size: 12px;
  }
  .link{
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .link__btn{
    width: 250px;
  }
  .header  ul{
    margin-right: 5px;
    justify-content: flex-end;
  }
  .home__btn{
    margin-left: 5px;
    text-align: left;
  }
  .home{
    text-align: center;
  }


  .content__box__title{
    height: 400px;
  }

  .content__box__title a{
    display: inline-block;
    width: 100%;
    height: 400px;
    display: block;
    position: relative;

  }

  .content__box__content{
    line-height: 50px;
    font-size: 15px;
    margin-left:0px ;
  }

  .content__box__img{
    text-align: left;
    width: 100%;
    text-align: center;

  }
  
  .content__box__img img{
    min-width:200px; 
    min-height:200px;
  }




}

