html{
  scroll-behavior:smooth;

}

body {
  font-family: 'Gotu', sans-serif;
}



.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(70,133,168,.5);
  background-image: url("black-linen.png");
  position: relative;
}
.home__btn{
  width: 100px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;
}

.home:hover{
  background-color: #357C93;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.home{
  width: 100%;
  height: 50px;
  background-color: #A4BFC8;
  display:inline-block;
  line-height: 50px;
  color: darkslategray;
}

.header  ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: 50px;
  padding-top: 10px;
}

.btn{
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  background-color: #A4BFC8;
  line-height: 50px;

}

.btn :hover{
  background-color: #357C93;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.production{
  background-color: #357C93;
  color: #fff;
}

.profile{
  color: darkslategray;
}

.blog{
  color: darkslategray;
}

.btn a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.contents {
  width: 100%;
  height: calc(100%- 70px);
  background-color: rgb(250,244,213,.5);
  background-image: url("60-lines.png");
}

.contents-top{
  font-size: 50px;
  text-align: center;
  padding-top:10px ;
  color: darkslategray;
  font-weight: bold;
}

.contents-link{
  width: 350px;
  height: 350px;
}


.top-content{
  height: 400px;
  width: 100%;
  display: flex;
}


.content{
  width: 350px;
  height: 350px;
  background-color: #E7E6E4;
  border:1px solid #357C93;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}


.content1{
  margin:25px  auto;
}

.content2{
  margin:25px  auto;
}

.content3{
  margin:25px  auto;
}

.title{
  width: 100%;
  height: 15%;
  background-color: #357C93;
  text-align: center;
  line-height: 25px;
}

.img{
  width: 100%;
  background-color: #E7E6E4;
  text-align: center;
  padding:10px 10px 10px 10px;
  position: relative;
  cursor: pointer;
}

#img6{
  width: 100%;
  background-color: #E7E6E4;
  text-align: center;
  padding:10px 10px 10px 10px;
  position: relative;
}

.hide-content{
  position: absolute;
  /* width: 328px;
  height: 180px; */
  width: calc(100% - 20px);
  height:calc(100% - 20px);

  top:10px;
  z-index: 1;
  opacity: 0;
}

.hide-content:hover{
  opacity: .7;
  background-color: gray;
  line-height: 180px;
  transition: all 0.5s ease 0s;
}

.fa-link{
  font-size:60px;
  color: #fff;
}


.text{
  height: 10%;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}


.middle-content{
  height: 400px;
  width: 100%;
  display: flex;
}

.preview{
  background-color: rgb(128,128,128,0.7);
  width: 100%;
  height: 100vh;
  z-index: 2;
  padding:50px 0;
  position: absolute;
  top:0;
}

.prev__box{
  width: 700px;
  height: 80%;
  background-color: #E7E6E4;
  margin: auto;
}

.prev__box__title{
  width: 100%;
  height: 15%;
  background-color: #357C93;
  color: #fff;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  position: relative;
}

.fa-times-circle{
  position: absolute;
  right: 5px;
  top:5px;
  cursor: pointer;
}

.fa-times-circle:hover{
  opacity: .6;
  transition: all 0.3s ease 0s;
}

.prev__box__content{
  width: 100%;
  height: 75%;
  background-color: #E7E6E4;
  padding:10px 10px 0 10px;
  overflow-y: scroll;
}

.prev__box__text{
  padding:10px 10px 0 10px;
  width: 100%;
  height: 10%;
  color: darkslategray;
}

.prev__box__content__title{
  font-size: 30px;
  padding: 10px ;
  border-bottom :1px dotted darkslategray;
  color: darkslategray;
  text-align: center;
}

.prev__box__footer{
  width: 100%;
  height: 8%;
  background-color: rgba(255,255,255 0.5);
  border-top: 1px dotted darkslategray ;
}

.fa-link-footer{
  color: darkslategray;
  font-size: 40px;
  padding: 10px;
  float: right;
}

.fa-link-footer:hover{
  color:darkslategray;
  opacity: .5;
  transition: all 0.3s ease 0s;
}

.fa-github{
  color: #24292E;
  font-size: 40px;
  padding: 10px;
  float: right;

}

.fa-github:hover{
  color: #24292E;
  opacity: .5;
  transition: all 0.3s ease 0s;
}

@media( max-width:1060px) { 
  .middle-content{
    display: block;
    height: 1100px;
  }
  .top-content{
    display: block;
    height: 1100px;
  }
  .contents {
    height: calc(300vh- 70px);
    padding-bottom:70px;
  }
  .prev__box__title{
    font-size: 20px;
  }
  .prev__box__content__title{
    font-size: 20px;
  }
  .prev__box{
    width: 500px;
  }

}

@media(max-width: 520px) {

  .home{
    width: 70px;
  }
  .home__btn {
    font-size: 10px;
  }
  .btn{
    width: 70px;
    font-size: 10px;
  }
  .link{
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .link__btn{
    width: 250px;
  }

  .prev__box{
    width: 350px;
  }
  .header  ul{
    margin-right: 5px;
    justify-content: flex-end;
  }
  .home__btn{
    margin-left: 5px;
    text-align: left;
  }
  .home{
    text-align: center;
  }
  .contents-top{
    font-size: 30px;
  }
}

