html{
  scroll-behavior:smooth;

}

body {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Gotu', sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0,255,240,0.8);
  /* background-image: url("https://www.transparenttextures.com/patterns/light-wool.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/wet-snow.png");
    position: relative;
}
.home__btn{
  width: 100px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;
}


.home{
  width: 100%;
  height: 50px;
  background-color: aqua;
  display:inline-block;
  line-height: 50px;
  color: #fff;
}

.header  ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: 50px;
  padding-top: 10px;
}

.btn{
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  background-color: #fff;
  line-height: 50px;

}

.btn :hover{
  background-color: aqua;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.production{
  color:  #24292E;
}

.profile{
  color:  #24292E;
}

.blog{
  color:  #24292E;
}

.btn a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.content{
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }

.content__box{
  width: 60%;
  height: 100%;
  margin: auto;
  padding-top: 200px;
}

.content__box__title{
  font-size: 100px;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: aqua;
  -webkit-text-stroke: 1px #fff;
}

.content__box__name{
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: aqua;
}

.content__box__text{
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color:  #333333;
  width: 100%;
  border-bottom: 2px solid  #333333;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.content__box__link{
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
  line-height: 50px;
}

.link{
  display: inline-block;
  font-size: 40px;
  line-height: 70px;
  color: #fff;
  width: 70px;
  text-align: center;
  margin-top: 20px;
}

.link:hover{
  opacity: .6;
  transition: all 0.3s ease 0s;

}

.github{
  margin: 0 20px;
  background-color:#24292E;

}

.twitter{
  background-color: #1DA1F2;

}

.blog_btn{
  background-color: #60F768;
}

@media screen and (max-width: 480px) {
  .content__box__title{
    font-size: 30px;
  }
  .content__box__name{
    font-size: 20px;
  }
  .home{
    color:  #24292E;
  }
}

@media screen and (min-width:480px) and ( max-width:1024px) { 
  .content__box__title{
    font-size: 50px;
  }
  .content__box__name{
    font-size: 30px;
  }
}



  