html{
  scroll-behavior:smooth;

}

body {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Gotu', sans-serif;
}



.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #b23f3f;
  position: relative;
}
.home__btn{
  width: 100px;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;
}

.home:hover{
  background-color: rgb(43,43,43);
  transition: all 0.3s ease 0s;
  color: #fff;
}

.home{
  width: 100%;
  height: 50px;
  background-color: #cd5c5c;
  display:inline-block;
  line-height: 50px;
  color: #fff;}

.header  ul{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-right: 50px;
  padding-top: 10px;
}

.btn{
  text-align: center;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  background-color: #cd5c5c;
  line-height: 50px;
}

.btn :hover{
  background-color: rgb(43,43,43);
  transition: all 0.3s ease 0s;
  color: #fff;
}


.profile{
  background-color: rgb(43,43,43);
  color: #fff;
}

.blog{
  color: #fff;
}

.production{
  color: #fff;
}

.btn a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.contents{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
}

.contents__left{
  width: 35%;
  height: 100%;
  background-color: #064152;
  background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
}

.contents__left::after{
  content: '';
  display: block;
  position: absolute;
  left:0px;
  bottom: 0;
  width: 20%;
  height: calc(100% - 70px );
  transform: skewX(10deg);
  background-color:  #094F64;
  /* background-image: linear-gradient(to bottom left, transparent, transparent 50%, #094F64 50%,  #094F64); */
  z-index: 2;
}

.contents__left::before{
  content: '';
  display: block;
  position: absolute;
  left:0;
  bottom: 0;
  width: 12%;
  height: calc(100% - 70px );
  background-image: linear-gradient(to bottom left, transparent, transparent 50%, #0A5C74 50%,  #0A5C74);
  z-index: 3;
}

.contents__left__img{
  text-align: center;
  padding-top: 50px;
  z-index: 4;
  position: relative;

}

.contents__left__img img{
  border-radius: 50%;
  z-index: 4;
}

.contents__left__link{
  width: 100%;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.link{
  display: inline-block;
  font-size: 40px;
  line-height: 70px;
  color: #fff;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  z-index: 3;
}

.link:hover{
  opacity: .6;
  transition: all 0.3s ease 0s;

}

.github{
  margin: 0 20px;
  background-color:#24292E;

}

.twitter{
  background-color: #1DA1F2;

}

.blog_btn{
  background-color: #60F768;
}



.contents__right{
  width: 65%;
  height: 100%;
  background-color: #cbb994;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.contents__right__top{
  width: 100%;
  height: 70%;
  position: relative;
}

.information{
  background-color: #fff;
  width: 100%;
  height: 110%;
  position: absolute;
  top:70px;
  left:-50px;
  border-radius:0 50px 0 50px ;
}

.name{
  padding-top: 20px;
  padding-left: 110px;
  display: flex;
  height: 100px;
  border-bottom: 2px solid #064152;
  position: relative;
}
.name h1{
  font-size: 3vw;
  line-height: 100px;
  color: #064152;
}

.name__title{
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  background-color:#064152;
  color:#fff;
  text-align: center;
}

.name__english{
  font-size: 3vw;
  font-weight: bold;
  line-height: 100px;
  margin-left: 50px;
  font-weight: bold;
}

.text{
  width: 100%;
  padding:30px 30px 30px 110px;
  color: #064152;
  font-size: 1.5vw;
  position: relative;
}

.text__info{
  width: 100px;
  height: 40px;
  background-color:#064152;
  color:#fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 30px;
}

.skills{
  width: 100%;
  border-top: 2px solid #064152;
  color: #064152;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
}

.skills__title{
  width: 100px;
  height: 40px;
  background-color:#064152;
  color:#fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
}

.skills__language{
  font-family: 'Anton', sans-serif;;
  padding-top: 30px;
  font-size: 2vw;
  padding-left: 110px;
}


.contents__right__bottom{
  width: 100%;
  height: 30%;
  background-color: rgb(43,43,43);
}

@media( max-width:1060px) { 
  .information{
    width: 90%;
    height: 90%;
    position: absolute;
    top:20px;
    left:0px;
    border-radius:0 0 0 0 ;
  }

  .skills__language{
    font-family: 'Anton', sans-serif;;
    padding-top: 30px;
    font-size: 2vw;
    padding-left: 10px;
  }

  .name{
    padding-top: 20px;
    padding-left: 30px;
  }

  .name__title{
    font-size: 20px;
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

  .text__info{
    font-size: 20px;
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

  .text{
    width: 100%;
    padding:40px 30px 30px 30px;
    color: #064152;
    font-size: 1.5vw;
  }

  .skills__title{
    font-size: 20px;
    width: 70px;
    height: 30px;
    line-height: 30px;
  }

  .link{
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    width: 40px;
    height: 40px;
  }

}

@media(max-width: 520px) {

  .home{
    width: 70px;
  }
  .home__btn {
    font-size: 12px;
  }
  .btn{
    width: 70px;
    font-size: 12px;
  }
  .link{
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .link__btn{
    width: 250px;
  }

  .prev__box{
    width: 350px;
  }
  .header  ul{
    margin-right: 5px;
    justify-content: flex-end;
  }
  .home__btn{
    margin-left: 5px;
    text-align: left;
  }
  .home{
    text-align: center;
  }

  .contents__left::after{
    display: none;
  }
  
  .contents__left::before{
    display: none;
  }
  .link{
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    width: 30px;
    height: 30px;
  }


  .information{
    width: 90%;
    height: 90%;
    position: absolute;
    top:20px;
    left:0px;
    border-radius:0 0 0 0 ;
  }

  .name{
    padding-top: 20px;
    padding-left: 30px;
  }

  .skills__language{
    font-family: 'Anton', sans-serif;;
    padding-top: 30px;
    font-size: 3vw;
    padding-left: 10px;
  }

  .text{
    width: 100%;
    padding:40px 30px 30px 30px;
    color: #064152;
    font-size: 1.5vw;
  }


}